
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
<!--    <title>TodoApp</title>-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
<!--    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
<!--    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
<!--    <script src="js/init.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>TodoApp</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <nav th:insert="_menu.html::menu_nav"></nav>
    <style>
body {
  background-image: url('images/lightgreen.jpg');
}



    </style>
</head>
<body>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center black-text">ToDo List</h1>
            <div class="row">
                <h5 class="header col s12 black-text">Manage your life in the best way possible</h5>
            </div>
            <div class="row center">
                <a th:href="@{/login}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get
                    Started</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax">
        <img src="images/notebook.jpg" alt="img1"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">alarm_on</i></h2>
                    <h5 class="center">Plan your day</h5>

                    <p class="light" align="center"> At home, at work and in your free time<br>you will focus on really important things</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>
                    <p class="light" align="center">No matter who you are and what you do <br>you will be better organized</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>
                    <p class="light" align="center">Powerful in its simplicity and convenience of use<br>and helps you getting things done</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text text-black">Manage your life in the best way possible</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/laptop.jpg" alt="img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Our Team</h4>
                Daniela Birau<br>
                <a href="https://www.linkedin.com/in/daniela-birau-8196841a9/">LinkedIn profile</a><br>
                Marius Fierascu<br>
                <a href="https://www.linkedin.com/in/marius-fier%C4%83scu/">LinkedIn profile</a>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text text-black">Manage your life in the best way possible</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/books.jpg" alt="mg 3"></div>
</div>
<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Source code</h4>
                <a href="https://github.com/biraudaniela/todoapp">View the source code on GitHub</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
