<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;Import Google Icon Font&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; Compiled and minified CSS &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash;Let browser know website is optimized for mobile&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>&ndash;&gt;-->

<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>TODO Application</title>&ndash;&gt;-->

<!--&lt;!&ndash;    <nav th:insert="_menu.html::menu_nav">&ndash;&gt;-->
<!--&lt;!&ndash;    </nav>&ndash;&gt;-->
<!--&lt;!&ndash;    <style>&ndash;&gt;-->
<!--&lt;!&ndash;</style>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>  ToDo List</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<img src="background.png" alt="background.png" width="500" height="500">&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    &lt;!&ndash;Import Google Icon Font&ndash;&gt;-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--    &lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

<!--    &lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->

<!--    &lt;!&ndash;Let browser know website is optimized for mobile&ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->

<!--    <meta charset="UTF-8">-->
<!--    <title>TODO Application</title>-->
<!--    <nav th:insert="_menu.html::menu_nav"></nav>-->
<!--</head>-->
<!--<body>-->
<!--<div class="col s12 m7">-->
<!--    <h2></h2>-->
<!--    <div class="card horizontal">-->
<!--        <div class="card-image">-->
<!--            <img src="background.png" alt="background.png" width="600" height="600">-->
<!--        </div>-->
<!--        <div class="card-stacked">-->
<!--            <div class="card-content">-->
<!--                <br>-->
<!--                <br>-->
<!--                <blockquote class="#ffc107 amber">-->
<!--                    <h2 class="header">ToDoList</h2>-->
<!--                    <h5> is an easy to use application for planning your day</h5>-->
<!--                    <h5> No matter who you are and what you do - you will be better organized</h5>-->
<!--                    <h5> At home, at work and in your free time - you will focus on really important things</h5>-->
<!--                    <h5> ToDoList is powerful in its simplicity and convenience of use and helps you</h5>-->
<!--                    <h5> getting things done</h5>-->
<!--                    <br>-->
<!--                </blockquote>-->
<!--            </div>-->
<!--            <div class="card-action">-->
<!--                You can find the source code is under this link-->
<!--                <a href="#">https://github.com/biraudaniela/todoapp</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>TodoApp</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <nav th:insert="_menu.html::menu_nav"></nav>
    <style>
body {
  background-image: url('images/lightgreen.jpg');
}



    </style>
</head>
<body>
<!--<nav class="white" role="navigation">-->
<!--    <div class="nav-wrapper container">-->
<!--        <ul id="nav-mobile" class="right hide-on-med-and-down">-->
<!--            <li><a th:href="@{/}">Home<i class="material-icons right">home</i></a></li>-->
<!--            <li><a th:href="@{/login}">Login<i class="material-icons right">face</i></a></li>-->
<!--            <li><a th:href="@{/showalltodos}">Todo's<i class="material-icons right">alarm_on</i></a></li>-->
<!--            <li><a th:href="@{/logout}">Logout<i class="material-icons right">clear</i></a></li>-->
<!--        </ul>-->
<!--        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
<!--    </div>-->
<!--</nav>-->

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center black-text text-black">ToDo List</h1>
            <div class="row center">
                <h5 class="header col s12 black-text text-black">Manage your life in the best way possible</h5>
            </div>
            <div class="row center">
                <a th:href="@{/login}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get
                    Started</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax">
        <img src="images/flower.jpg" alt="img 1"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">alarm_on</i></h2>
                    <h5 class="center">Plan your day</h5>

                    <p class="light" align="center"> At home, at work and in your free time<br>you will focus on really important things</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>
                    <p class="light" align="center">No matter who you are and what you do <br>you will be better organized</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>
                    <p class="light" align="center">Powerful in its simplicity and convenience of use<br>and helps you getting things done</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text text-black">Manage your life in the best way possible</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/laptop.jpg" alt="img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Our Team</h4>
                Daniela Birau<br>
                <a href="https://www.linkedin.com/in/daniela-birau-8196841a9/">LinkedIn profile</a><br>
                Marius Fierascu<br>
                <a href="https://www.linkedin.com/in/marius-fier%C4%83scu/">LinkedIn profile</a>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text text-black">Manage your life in the best way possible</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/books.jpg" alt="mg 3"></div>
</div>
<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Source code</h4>
                <a href="https://github.com/biraudaniela/todoapp">View the source code on GitHub</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

