<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Add todo</title>
    <nav th:insert="_menu.html::menu_nav">
    </nav>
</head>
<body>
<div class="container">
    <div class="form">
        <div class="row">
            <form class="col s12" th:action="@{/addtodo}" th:object="${todo}" method="post">

                <h1>Add TODO</h1>
                <p>Please fill in this form to create a TODO.</p>
                <hr>
                <div class="row">
                    <div class="input-field col s12">
                        <input th:field="*{description}" id="description" type="text" placeholder="Description" required>
                        <label for="description"><b>Description</b></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input th:field="*{targetDate}" id="target_date" type="date" pattern="dd-MM-yyyy" required>
                        <label for="target_date"><b>Target Date</b></label>
                    </div>
                </div>
                <button type="submit">Add</button>

            </form>
        </div>
    </div>
</div>

</body>
</html>