<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    &lt;!&ndash;Import Google Icon Font&ndash;&gt;-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--    &lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

<!--    &lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->

<!--    &lt;!&ndash;Let browser know website is optimized for mobile&ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add todo</title>-->
<!--    <nav th:insert="_menu.html::menu_nav">-->
<!--    </nav>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="form">-->
<!--        <div class="row">-->
<!--            <form class="col s12" th:action="@{/addtodo}" th:object="${todo}" method="post">-->

<!--                <h1>Add TODO</h1>-->
<!--                <p>Please fill in this form to create a TODO.</p>-->
<!--                <hr>-->
<!--                <div class="row">-->
<!--                    <div class="input-field col s12">-->
<!--                        <input th:field="*{description}" id="description" type="text" placeholder="Description" required>-->
<!--                        <label for="description"><b>Description</b></label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="input-field col s12">-->
<!--                        <input th:field="*{targetDate}" id="target_date" type="date" pattern="dd-MM-yyyy" required>-->
<!--                        <label for="target_date"><b>Target Date</b></label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <button type="submit">Add</button>-->

<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add todo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <nav th:insert="_menu.html::menu_nav"></nav>
    <style>
body {
  background-image: url('images/blue.jpg');
}

    </style>
</head>
<body>
<div class="container">
    <div class="form">
        <span class="white-text"/>
        <div class="row">
            <form class="col s12" th:action="@{/addtodo}" th:object="${todo}" method="post">
                <h2>Add todo</h2>
                <!--                <p>Please fill in this form to create a TODO.</p>-->
                <!--                <hr>-->
                <div class="row">
                    <div class="input-field col s12">
                        <label for="description"><b>Description</b></label>
                        <input th:field="*{description}" id="description" type="text"
                               required>

                    </div>
                </div>
                <!--                <div class="row">-->
                <!--                    <div class="input-field col s12">-->
                <!--                        <input th:field="*{targetDate}" id="target_date" type="date" pattern="dd-MM-yyyy" required>-->
                <!--                        <label for="target_date"><b>Target Date</b></label>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="row">-->
                <!--                    <div class="input-field col s12">-->
                <!--                        <select id="list_group" th:field="*{listGroup.groupId}">-->
                <!--                            <option th:each="l: ${listgroups}" th:value="${l.groupId}"-->
                <!--                                    th:text="${l.groupName}"/>-->
                <!--                        </select>-->
                <!--                        <label for="list_group"><b>Chose a list</b></label>-->
                <!--                    </div>-->
                <!--                </div>-->
                <button type="submit" class="waves-effect waves-light btn-small">Add</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
