<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script><!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Edit todo</title>
    <meta charset="UTF-8">
    <nav th:insert="_menu.html::menu_nav"></nav>
    <script>
    $(document).ready(function() {
    $('select').formSelect();
    });
    </script>
    <style>
body {
  background-image: url('/images/blue.jpg');
}

    </style>
</head>
<body>
<div class="container">
    <div class="form">
        <span class="white-text"/>
        <div class="row">
            <form class="col s12" th:action="@{/edittodo/{id}(id=${todo.todoId})}" th:object="${todo}" method="post">
                <h2>Edit todo</h2>
                <div class="row">
                    <div class="input-field col s12">
                        <input th:field="*{description}" id="description" type="text" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select id="list_group" th:field="*{listGroup.groupId}">
                            <option th:each="l: ${listgroups}" th:value="${l.groupId}"
                                    th:text="${l.groupName}"/>
                        </select>
                        <label for="list_group"><b>Choose a list</b></label>
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light btn-small">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>